<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="closureTemplateConfigurer"
		class="com.tomakehurst.springclosuretemplates.web.mvc.ClosureTemplateConfigurer">
		<property name="templatesLocation"
			value="classpath:test-closure-templates" />
	</bean>

	<bean id="closureTemplateJSController"
		class="com.tomakehurst.springclosuretemplates.web.mvc.ClosureTemplateJavascriptController">
		<property name="cacheControl" value="no-cache" />
	</bean>

	<bean id="closureTemplateViewResolver"
		class="com.tomakehurst.springclosuretemplates.web.mvc.ClosureTemplateViewResolver">
		<property name="cache" value="true" />
	</bean>

	<bean id="noCacheClosureTemplateViewResolver"
		class="com.tomakehurst.springclosuretemplates.web.mvc.ClosureTemplateViewResolver">
		<property name="cache" value="false" />
	</bean>

</beans>